
 .carbon-calculator {
    max-width: 420px;
    margin: 30px auto;
    background: #E0C097;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 4px 10px  #5E8C61;
    font-family: 'Times New Roman', Times, serif;
}

.carbon-calculator h2 {
    text-align: center;
    color: #5E8C61;
    margin-bottom: 15px;
}

.carbon-calculator select {
    background: white;
    width: 100%;
    padding: 8px;
    margin-top: 6px;
    border: 1px solid white;
    border-radius: 6px;
}


.carbon-calculator input {
    width: 96%;
    padding: 8px;
    margin-top: 6px;
    border: 1px solid white;
    border-radius: 6px;
}

.carbon-calculator button {
    width: 100%;
    margin-top: 15px;
    padding: 10px;
    background-color: #5E8C61;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}

.carbon-calculator button:hover {
    background-color: #3e8e66;
}


#result {
  background: white;
  border-left: 4px solid #5E8C61;
  margin-top: 15px;
  padding: 12px;
  border-radius: 6px;
  font-size: 15px;
}

.equivalents {
  background: white;
  border: 1px solid #d1e4d3;
  margin-top: 15px;
  padding: 12px;
  border-radius: 6px;
  font-size: 15px;
}