
body {
    font-family: 'Times New Roman', Times, serif;
    color:black;
    background-color:#8CBF75;
    margin: 0;
    padding: 0;
}


header {
    text-align: center;
    background-image: url("img1.jpg");
    background-size: 50%;
    padding: 40px 20px;
    margin-bottom: 30px;
    
}

header h1 {
    font-size: 40px;
    color: black;
    margin-bottom: 5px;
    text-decoration: underline;
}

header p {
    font-size: 19px;
    color: black;
}

#section1{
    display:flex;
    align-items: center;
    justify-content: center;
    gap:20px;
}

#definition {
    background-color:#fdedd3 ;
    margin-bottom: 30px;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px red;
    width:50% ;
    height:200px;
}

#img2{
    background-image:url("img2.jpg");
    background-size: cover;
    background-position: center;
    margin-bottom: 30px;
    padding: 25px;
    border-radius: 20px;
    width:40% ;
    height:200px;
}

#section2 {
    display:flex;
    align-items: center;
    justify-content: center;
    gap:20px;
}

#history{
    background-color:#fdedd3 ;
    margin-bottom: 30px;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px red; 
    width:50% ;
    height:200px;
}

#img3{
    background-image:url("img3.jpg");
    background-size: cover;
    background-position: center;
    margin-bottom: 30px;
    padding: 25px;
    border-radius: 20px;
    width:40% ;
    height:200px;
}

#section3{
    display:flex;
    align-items: center;
    justify-content: center;
    gap:20px;
}

#img4{
    background-image:url("img4.jpeg");
    background-size: cover;
    background-position: center;
    margin-bottom: 30px;
    padding: 25px;
    border-radius: 20px;
    width:35% ;
    height:350px;
}

#how-it-works{
    background-color:#fdedd3 ;
    margin-bottom: 30px;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px red;
    width:60% ;
    height:350px;
}

#img5{
    background-image:url("img5.jpg");
    background-size: cover;
    background-position: center;
    margin-bottom: 30px;
    padding: 25px;
    border-radius: 20px;
    width:35% ;
    height:350px;
}

#impacts{
    background-color:#fdedd3 ;
    margin-bottom: 30px;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 10px 5px 5px red; 
}

h2 {
    font-size: 30px;
    color: black;
    margin-top: 5px;
    margin-bottom: 10px;
    text-align: center;
}

h3 {
    font-size: 30px;
    color: red;
    text-align: center;
   
}

p {
    margin-bottom: 15px;
    font-size: 20px;
    text-align: center;
    
}

#specification{
    font-size: 20px;
    font-style: italic;
}

ul {
    margin-left: 20px;
    margin-bottom: 15px;
    
}

li {
    margin-bottom: 10px;
    font-size: 20px;
    
}

span {
    color: blue;
    font-size: 20px;
}


footer {
    text-align: center;
    background-color: #34495e;
    color: #ecf0f1;
    padding: 20px;
    margin-top: 40px;
}

footer p {
    font-size: 15px;
}

