
body {
    font-family: 'Times New Roman', Times, serif;
    color:black;
    background-color:#E0C097;
    margin: 0;
    padding: 0;
}

#header1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #5E8C61;
    color: #F8F7F2;
}

.logo a{
    font-size: 24px;
    font-weight: 700;
    color: #F8F7F2;
    text-decoration: none;
}

#header2 {
    text-align: center;
    background-image: url("img1.jpg");
    background-size: 50%;
    padding: 40px 20px;
    margin-bottom: 30px;
    border: 2px solid #ebb570; 
    
}

header h1 {
    font-size: 40px;
    color: #5E8C61;
    margin-bottom: 5px;
    text-decoration: underline;
}

header p {
    font-size: 19px;
    color: #5E8C61;
}

#section1{
    display:flex;
    align-items: center;
    justify-content: center;
    gap:20px;
}

#definition {
    background-color:white ;
    margin-bottom: 30px;
    padding: 25px;
    border-radius: 20px;
    width:50% ;
    height:200px;
    border: 2px solid #ebb570; 
}

#img2{
    background-image:url("img2.jpg");
    background-size: cover;
    background-position: center;
    margin-bottom: 30px;
    padding: 25px;
    border-radius: 20px;
    width:40% ;
    height:200px;
    border: 2px solid #ebb570; 
}

#section2 {
    display:flex;
    align-items: center;
    justify-content: center;
    gap:20px;
}

#history{
    background-color:white ;
    margin-bottom: 30px;
    padding: 25px;
    border-radius: 20px; 
    width:50% ;
    height:200px;
    border: 2px solid #ebb570; 
}

#img3{
    background-image:url("img3.jpg");
    background-size: cover;
    background-position: center;
    margin-bottom: 30px;
    padding: 25px;
    border-radius: 20px;
    width:40% ;
    height:200px;
    border: 2px solid #ebb570; 
}

#section3{
    display:flex;
    align-items: center;
    justify-content: center;
    gap:20px;
}

#img4{
    background-image:url("img4.jpeg");
    background-size: cover;
    background-position: center;
    margin-bottom: 30px;
    padding: 25px;
    border-radius: 20px;
    width:35% ;
    height:350px;
    border: 2px solid #ebb570; 
}

#how-it-works{
    background-color:white ;
    margin-bottom: 30px;
    padding: 25px;
    border-radius: 20px;
    width:60% ;
    height:375px;
    border: 2px solid #ebb570; 
}

#img5{
    background-image:url("img5.jpg");
    background-size: cover;
    background-position: center;
    margin-bottom: 30px;
    padding: 25px;
    border-radius: 20px;
    width:35% ;
    height:350px;
    border: 2px solid #ebb570; 
}

#impacts{
    background-color:white ;
    margin:0 auto 30px auto;
    padding: 25px;
    border-radius: 20px;
    width:95%;
    border: 2px solid #ebb570; 
}

h2 {
    font-size: 30px;
    color: #5E8C61;
    margin-top: 5px;
    margin-bottom: 10px;
    text-align: center;
}

h3 {
    font-size: 30px;
    color: #5E8C61;
    text-align: center;
   
}

p {
    margin-bottom: 15px;
    font-size: 20px;
    text-align: center;
    
}

#specification{
    font-size: 20px;
    font-style: italic;
}

ul {
    margin-left: 20px;
    margin-bottom: 15px;
    
}

li {
    margin-bottom: 10px;
    font-size: 20px;
    
}

span {
    color: #5E8C61;
    font-size: 20px;
}


footer {
    text-align: center;
    background-color: #34495e;
    color: #ecf0f1;
    padding: 20px;
    margin-top: 40px;
    border: 2px solid #ebb570; 
}

footer p {
    font-size: 15px;
}
