body {
    font-family: 'Times New Roman', Times, serif;
    color:black;
    background-color:#E0C097;
    margin: 0;
    padding: 0;
}

#header1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #5E8C61;
    color: #F8F7F2;
}

.logo a{
    font-size: 24px;
    font-weight: 700;
    color: #F8F7F2;
    text-decoration: none;
}


#header2 {
    text-align: center;
    background-image: url("img6.png");
    background-size: 100%;
    padding: 20px 20px;
    margin-bottom: 30px;
}


header h1 {
    font-size: 60px;
    color: white;
    margin-bottom: 5px;
    text-decoration: underline;
}

header p {
    font-size: 40px;
    color: white;
}


#section1{
    display:flex;
    justify-content: center;
}


#environment {
    background-color:white ;
    margin-bottom: 30px;
    padding: 25px;
    border-radius: 20px;
    width:95% ;
    height:1500px;
}

#section1_1{
    display:flex;
    align-items: center;
    justify-content: center;
    gap:20px;
}


#Ressource {
    background-color:white ;
    margin-bottom: 30px;
    padding: 25px;
    border-radius: 20px;
    width:50% ;
    height:280px;
}

#img7{
    background-image:url("img7.jpg");
    background-size: cover;
    background-position: center;
    margin-bottom: 30px;
    padding: 25px;
    border-radius: 20px;
    width:40% ;
    height:210px;
}


#section1_2{
    display:flex;
    align-items: center;
    justify-content: center;
    gap:20px;
}


#pollution {
    background-color:white ;
    margin-bottom: 30px;
    padding: 25px;
    border-radius: 20px;
    width:40% ;
    height:290px;
}

#img8{
    background-image:url("img8.jpg");
    background-size: cover;
    background-position: center;
    margin-bottom: 30px;
    padding: 25px;
    border-radius: 20px;
    width:50% ;
    height:210px;
}

#section1_3{
    display:flex;
    align-items: center;
    justify-content: center;
    gap:20px;
}


#waste {
    background-color:white;
    margin-bottom: 30px;
    padding: 25px;
    border-radius: 20px;
    width:50% ;
    height:290px;
}

#img9{
    background-image:url("img9.jpg");
    background-size: cover;
    background-position: center;
    margin-bottom: 30px;
    padding: 25px;
    border-radius: 20px;
    width:40% ;
    height:210px;
}

#section1_4{
    display:flex;
    align-items: center;
    justify-content: center;
    gap:20px;
}


#Gaz {
    background-color:white ;
    margin-bottom: 30px;
    padding: 25px;
    border-radius: 20px;
    width:40% ;
    height:290px;
}

#img10{
    background-image:url("img10.jpg");
    background-size: cover;
    background-position: center;
    margin-bottom: 30px;
    padding: 25px;
    border-radius: 20px;
    width:50% ;
    height:210px;
}

#section2 {
    display:flex;
    align-items: center;
    justify-content: center;
    gap:20px;
}

#labor{
    background-color:white ;
    margin-bottom: 20px;
    padding: 25px;
    border-radius: 20px; 
    width:95% ;
    height:350px;
}


h2 {
    font-size: 30px;
    color: #5E8C61;
    margin-top: 5px;
    margin-bottom: 10px;
    text-align: center;
    text-decoration: underline;
}

h3 {
    font-size: 30px;
    color: #5E8C61;
    text-align: center;
    text-decoration: underline;
    
}

p {
    margin-bottom: 15px;
    font-size: 20px;
    text-align: center;
    
}


ul {
    margin-left: 20px;
    margin-bottom: 15px;
    
}

li {
    margin-bottom: 10px;
    font-size: 25px;
    
}

footer {
    text-align: center;
    background-color: #34495e;
    color: #ecf0f1;
    padding: 20px;
    margin-top: 40px;
}

footer p {
    font-size: 15px;
}

